body {
    font-family: Oxanium, cursive;
    background-color: black;
    color: white;
}

.logo {
    width: 250px;
    height: 100px;
}

body::before {
    content: "";
    background-image: url(../img/bg-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    position: fixed;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-selection {
    display: flex;
    align-items: center;
    gap: 30px;
    background-position: center;
    min-height: calc(100vh - 152px);
    justify-content: center;
}

.list-of-characters {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-grow: 1;
    justify-content: center;
}

.characters {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 585px;
    gap: 25px;
}

.title {
    font-size: 20px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    width: 26ch;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    border-right: 4px solid;
    animation: typing 2s steps(26), blinking 0.5s infinite step-end alternate;
    animation: typing 2s steps(26), blinking 0.5s infinite step-end alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}

@keyframes pop {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.card-character {
    animation: pop 0.5s ease-in-out;
    transition: transform 0.2s ease;
}

.card-character:hover {
    transform: scale(1.1) !important;
}

.card-character.select {
    box-shadow: 0px 0px 24px 5px #0271f7;
}

.selected-character {
    text-align: center;
    max-height: 500px;
}

.big-character {
    width: 400px;
    height: 400px;
}

.name-character {
    border-bottom: 2px solid #47f4ff;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.info-character {
    font-size: 16px;
    line-height: 22px;
    width: 420px;
}

.description-character {
    margin-top: 10px;
}

@media (max-width: 1120px) {
    .character-selection {
        flex-direction: column-reverse;
        max-width: 430px;
        margin: 0 auto;
    }

    .selected-character {
        margin-bottom: 27px;
    }

    .list-of-characters {
        gap: 10px;
    }
}